body {
    font-family: cursive;
    text-align: center;
    margin-top: 0%;
    background: linear-gradient(135deg, #f1f1f1, #f768bb);
    background-repeat: no-repeat;
    background-size: cover;
    
  

  }

h1{
    color:#d13aab;
    font-family:cursive;
}
  #elapsedTime {
    font-size: 2em;
    color: #d13aab;
  }

#momo {
    display: flex;
    align-self:self-start;
}

#first {
     border-radius: 10% ;
     display: flex;
     align-items: flex-start;
     width: 450px;
     box-shadow: black;
}

#song {
    display: flex;
    align-items: center;
    justify-items: initial;
    

}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }


  .card {
    width: 100px;
    height: 150px;
    background-color: #2e3b55;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #fff;
    transition: transform 0.3s, background-color 0.3s;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .card:hover {
    transform: scale(1.1);
  }
  .revealed {
    background-color: #ff47ff;
    cursor: default;
  }
img{
    border-radius: 10%;
    width: auto;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
iframe{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: transform 0.3s ease, box-shadow 0.3s ease;;
}
hr {
    border: none; 
    height: 4px; 
    background: linear-gradient(90deg, #fc93dc, #fc2590); 
    margin: 20px 0;
    border-radius: 2px; 
  }



  